.about-section {
  background:#205960;

  animation: fadeIn 1.2s ease-in-out;
  margin-bottom: 40px;
  border-radius: 20px;
}


/* section entry animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* profile image */

.profile-img-container {
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;

  border: 4px solid #5ef2ff;

  transition: 0.4s ease;
}


/* image hover glow effect */

.profile-img-container:hover {
  transform: scale(1.08);

  box-shadow:
  0 0 25px #0c0c0c,
  0 0 45px #5685c360;
}


.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* social icons */

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 10px;
  transition: 0.3s ease;
}


/* icon hover animation */

.social-icons a:hover {
  color: #5ef2ff;
  transform: translateY(-6px) scale(1.2);
}


/* titles animation */

.section-subtitle {
  color: #c9d4ff;
  animation: slideLeft 1s ease;
}

.section-title {
  background: linear-gradient(90deg,#0b1718,#030706,#150404);
  color: transparent;
  background-clip: text;
  font-weight: bold;
  animation: slideRight 1s ease;
}


/* title animations */

@keyframes slideLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* paragraph */

.about-text {
  font-size: 18px;
  line-height: 1.7;
  color: #f7fafa;
  animation: fadeIn 1.4s ease;
}

.quote {
  /* font-style: italic; */
  font-size: 18px;
  color: #cdc8e3;
  animation: fadeIn 1.6s ease;
}


/* download button */

.download-btn {
  display: inline-block;
  padding: 10px 22px;

 background:

linear-gradient(

135deg,

#065e42,

#17d9b9

);

  color: rgb(243, 229, 229);
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;

  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}


/* button hover animation */

.download-btn:hover {
  transform: translateY(-3px);

  box-shadow:
  0 5px 20px #5ef2ff,
  0 5px 40px #7c5cff80;
}


/* cards */

.about-card {
border:1px solid rgba(2, 43, 30, 0.922);

  background:rgba(55, 72, 57, 0.05) !important;;

  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}


/* card hover glow effect */

.about-card:hover {
  transform: translateY(-12px) scale(1.02);

  border-color: #03525a;

  box-shadow:
  0 0 35px #5ef2ff50,
  0 0 60px #7c5cff40;
}


/* floating animation */

.about-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;

  background: rgba(94,242,255,0.05);

  top: 0;
  left: 0;

  transition: 0.4s;
}

.about-card:hover::before {
  height: 100%;
}


/* skills text animation */

.skill-text {
  color: #d3c6c8;
  margin-bottom: 5px;
  transition: 0.3s;
}

.skill-text:hover {
  color: #f2ad59;
  transform: translateX(6px);
}