html 
 head 
  title bhopal 
body 
  from(action='/api' method='post')
   input(type="text" placeholder='user name here' name='city')
   br
   button  submit 

   -const mystyle='color:red; font-size:100px; background-color:skyblue'
   h1(style=mystyle) #{message}