/* MAIN SECTION */

.services-section {

padding:80px 40px;

border-radius:20px;

background:
radial-gradient(circle at 85% 30%, #20596040 0%, transparent 40%),
radial-gradient(circle at 10% 80%, #2f7a7040 0%, transparent 40%),
linear-gradient(140deg, #0f2f2c, #205960, #0b1f1d);

color:white;

}


/* HEADING */

.services-heading {

font-size:48px;

margin-bottom:50px;

text-align:center;

background:

linear-gradient(
90deg,
#0e1111,
#7c5cff,
#ff4ecd
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}


/* CARD STYLE */

.scard {

background:rgba(255,255,255,0.05) !important;

border-radius:18px !important;

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,0.08);

padding:25px;

text-align:center;

transition:.4s;

height:100%;

}


/* ICON STYLE */

.service-icon {

font-size:55px;

margin-bottom:20px;

color:#5ef2ff;

transition:.4s;

}


/* CARD HOVER */

.scard:hover {

transform:translateY(-12px);

box-shadow:

0 0 30px #ff5eb750,

0 0 60px #7c5cff40;

}


.scard:hover .service-icon {

color:#4effbe;

transform:scale(1.2);

}


/* TITLE */

.card-title {

font-size:22px;

font-weight:600;

margin-bottom:10px;

color:#f8f9fa;

}


/* TEXT */

.scard .card-text {

color:#e4e5ec;

line-height:1.6;

}


/* RESPONSIVE */

@media(max-width:992px){

.services-section {

padding:60px 20px;

}

}