.contact-container {
  width:90%;
  max-width:1320px;
  padding: 80px 10%;
    background:#205960;
  

  
  color: white;
  margin:auto;
  border-radius: 20px;
   
   margin-bottom: 40px;
}

.contact-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  background: linear-gradient(to right, #38bdf8, #22c55e);
  -webkit-background-clip: text;
 
  color: transparent;
}

.contact-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info,
.contact-form {
  flex: 1;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  font-size: 17px;
}

.contact-head{
  color:rgb(15, 15, 15);
}

.info-item {
  margin: 12px 0;
  font-size: 19px;
  transition: 0.3s;
  
}

.info-item:hover {
  color: #38bdf8;
  transform: translateX(5px);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}


.contact-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#38bdf8,#22c55e);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.9;
}